name: linting-and-testing
on: push
jobs:
  lint-test:
    runs-on: ubuntu-lastest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Cloning the repository
        uses: actions/checkout@v2

      - name: Installing node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Installing dependencies
        run: make install

      - name: linting
        run: make lint

      - name: testing
        run: make test

